!!! 5

html(lang='en')
    head
        title= 'Pareto Front Visualizer'
        link(rel='stylesheet', href='/stylesheets/bootstrap.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
        link(rel='stylesheet', href='/stylesheets/slick.grid.css')
        link(rel='stylesheet', href='/stylesheets/style.css')

        script(src='/javascript/Three.js')
        script(src='/javascript/gl-matrix.js')

        script(src='/javascript/d3.v2.js')
        script(src='/javascript/d3.csv.js')
        script(src='/javascript/d3.layout.js')
        script(src='/javascript/parallel-coordinates.js')

        script(src="http://code.jquery.com/jquery-latest.js")
        script(src='/javascript/underscore.js')
        script(src='/javascript/backbone.js')

        script(src='/javascript/jquery-ui-1.8.16.custom.min.js')
        script(src='/javascript/filter.js')

        script(src='/javascript/jquery.event.drag-2.0.min.js')
        script(src='/javascript/slick.core.js')
        script(src='/javascript/slick.grid.js')
        script(src='/javascript/slick.dataview.js')
        script(src='/javascript/slick.pager.js')

        script(src='/javascript/grid.js')
        script(src='/javascript/options.js')

        script(src='/javascript/bootstrap.js')

        script(src="http://use.typekit.com/rtu3vxv.js")
        script(src='/javascript/font.js')

    body
        .container!=body
